@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
body {
  font-family: 'Titillium Web', sans-serif;
}
.services_header,
.about_header {
  color: white;
  background: #f03034;
  text-align: center;
  width: 35%;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border-top: 5px solid #333;
  font-weight: 500;
}
/* BANNER */
.banner {
  padding: 0px;
}
.banner .carousel {
  height: 70vh;
}
.banner img {
  width: 100%;
}
/* SERVICES */
.services {
  background: #555;
  color: white;
}
.services .services_middle_detail {
  display: none;
}
.services .services_points_wrapper {
  display: none;
}
/* ABOUT */
.about {
  background: white;
  color: black;
}
.about .aboutLeftSection {
  border-bottom: 2px solid red;
}
.about .container img {
  width: 100%;
  margin: auto;
}
.about .about_img_wrapper {
  display: none;
}
/* FOOTER */
footer {
  background: #777;
  padding: 20px;
  margin-top: 50px;
}
